.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}


/* For desktop: */
.col-1 {height: 8.33%;}
.col-2 {height: 16.66%;}
.col-3 {height: 25%;}
.col-4 {height: 33.33%;}
.col-5 {height: 41.66%;}
.col-6 {height: 50%;}
.col-7 {height: 58.33%;}
.col-8 {height: 66.66%;}
.col-9 {height: 75%;}
.col-10 {height: 83.33%;}
.col-11 {height: 91.66%;}
.col-12 {height: 100%;}

@media only screen and (max-width: 960px) {
  /* For mobile phones: */
  [h-custom*="col-"] {
    width: 100%;
  }
}